.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black dashed;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.card-input{
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.creatingNewCard {
    width: 20px;
    cursor: pointer;
}


